<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>


  <% if logged_in? %>



  <% end %>

  <%= yield %>

<footer>
  <div class="twitter-follow-button">
    <a
    href="https://twitter.com/Kukaheadla"
    data-size="large">
  Follow @kukaheadla</a>
  </div>
<br>
  &copy; kukaheadla 2017
</footer>
</body>
</html>
