<br>
<br>
<div class="login-tab">

  <div class="login-pg">
    <%= @error_message %>
    <form action="/session" method="post">
      <label for="" style="padding-left:33px;">email: </label>
      <input name="email" type="text" class= "input-login">
      <br>
      <br>
      <label for="">password:</label>
      <input name="password" type="password" class= "input-login">

      <br><br>
      <button class="btn btn-primary btn-lg round">login</button>
    </form>
      <br>
      <a href="/">Home</a>
  </div>
</div>
<br>
<br>
