<div class="goalclass">

  <div class="new-goal">

    <h2>New Goal</h2>

    <form action="/setgoal" method="post">
      <label for="">Goal</label>
      <br>
      <textarea name="newGoal">Enter text here...</textarea>
      <br>
      <label for="">Inspirational image(url)</label>
      <br>
      <input type="url" name="img_url">
      <br>
      <br>
      Goal Due by:
      <br>
      <input type="date" name="due_date" value="">
      <br>
      <button class="btn btn-primary btn-lg round">Set Goals</button>
    </form>

    <a href="/" class="btn">Back</a>
  </div>
</div>
